<header class="page-header bg-img" style="background-image: url(http://file.vinacircle.info/news/image/2017/Mar/fun_facts/ngan_ha_1.0.jpg);">
  <div class="container page-name">
    <h1 class="text-center">Tìm kiếm hồ sơ</h1>
    <p class="lead text-center">Tìm kiếm hồ sơ các ứng viên tiềm năng nhất</p>
  </div>
  <div class="container">
    <%= search_form_for @q, url: search_resume_path do |f| %>
      <div class="row">
        <div class="form-group col-xs-12 col-sm-4">
          <%= f.search_field :basic_infos_full_name_or_basic_infos_headline_cont_any,
           class: "form-control", placeholder: "Từ khóa: tên, loại,.. "%>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
          <%= f.search_field :basic_infos_location_cont_any,
            class: "form-control", placeholder: "Thành phố"%>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
           <%= f.search_field :tags_name_cont_any,
            class: "form-control", placeholder: "Tag"%>
        </div>
        <div class="form-group col-xs-12 col-sm-4">
          <h6>Trình độ học vấn</h6>
          <% (Education::DEGREES).each do |e|%>
            <%= check_box_tag "q[educations_degree_eq_any][]", e %>
            <%= e %>(<small><%= Education.where(degree: e).count %></small>)
            <br>
          <% end %>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
          <h6>Lương</h6>
           <div class="checkbox">
              <%= check_box_tag "q[basic_infos_salary_lteq_any][]", 50 %>
              <label for="rate2">$0 - $50</label>
            </div>

            <div class="checkbox">
              <%= check_box_tag "q[basic_infos_salary_in][]", (50..100).to_a %>
              <label for="rate3">$50 - $100 </label>
            </div>

            <div class="checkbox">
              <input type="checkbox" id="rate4" name="rate">
              <label for="rate4">$100 - $200 </label>
            </div>

            <div class="checkbox">
              <%= check_box_tag "q[basic_infos_salary_gt_any][]", 200 %>
              <label for="rate5">$200+ </label>
            </div>
        </div>
        <div class="action-buttons col-xs-12 col-sm-4">
          <button class="btn btn-primary">Lọc</button>
        </div>
      </div>
    <% end %>
  </div>
</header>
