<header class="page-header" style="background-image: url(http://file.vinacircle.info/news/image/2017/Mar/fun_facts/ngan_ha_1.0.jpg)">
  <div class="container page-name">
    <h1 class="text-center">Đăng việc làm mới</h1>
    <p class="lead text-center">Tạo một việc làm mới để tìm kiếm những ứng viên tiềm năng.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="form-group col-xs-12 col-sm-6">
        <%= f.text_field :title, class: "form-control input-lg", placeholder: "vị trí tuyển, ví dụ: Front-end developer" %>
      </div>
      <div class="form-group col-xs-12 col-sm-6">
        <%= f.text_field :company_name, class: "form-control input-lg", placeholder: "Tên công ty" %>
      </div>

      <div class="form-group col-xs-12">
        <%= f.text_area :description, class: "form-control", rows: "3",cols: "76",  placeholder: "Mô tả ngắn gọn" %>
      </div>

      <div class="form-group col-xs-12">
        <%= f.text_field :url, class: "form-control", placeholder: "URL công ty" %>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
          <%= f.text_field :location,  class: "form-control", placeholder: "Địa chỉ, Ví dụ: Hoàng Mai, Hà Nội" %>
        </div>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
            <%= f.select :employment_type,  options_for_select(Job::EMPLOYMENT_TYPES) , class: "form-control selectpicker"%>
        </div>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon"><i class="fa fa-money"></i></span>
          <%= f.text_field :salary, class: "form-control", placeholder: "Lương" %>
        </div>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            <%= f.text_field :working_hour, class: "form-control", placeholder: "Số giờ làm việc, ví dụ: 40" %>
          <span class="input-group-addon">giờ / tuần</span>
        </div>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon"><i class="fa fa-flask"></i></span>
          <%= f.text_field :experience, class: "form-control", placeholder: "Kinh nghiệm, ví dụ: 3" %>
          <span class="input-group-addon">Năm</span>
        </div>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon"><i class="fa fa-certificate"></i></span>
          <%= f.select :education_level,  options_for_select(Job::EDUCATION_LEVELS) , class: "form-control selectpicker"%>
        </div>
      </div>
    </div>
  </div>
</header>
