<body class="nav-on-header smart-nav">
  <%= render "components/home/header" %>
  <%= render "components/home/recent_jobs" %>
  <%= render "components/home/facts" %>
  <%= render "components/home/category" %>
  <%= render "components/home/newsletter" %>
  <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
</body>
