<div class="col-xs-12">
  <div class="item-block">
    <header>
      <a href="<%= manager_job_path(job) %>">
        <% if job.company_avatar %>
          <img src="<%= job.company_avatar %>" alt="">
        <% else %>
          <img src="https://raw.githubusercontent.com/lampv318/image/master/noavatar-1.jpg" alt="">
        <% end %></a>
      <div class="hgroup">
        <h4><a href="<%= manager_job_path(job) %>"><%= job.title %></a></h4>
        <h5><a href="<%= manager_job_path(job) %>"><%= job.company_name %></a></h5>
      </div>
      <div class="header-meta">
        <span class="location"><%= job.location %></span>
        <time datetime="2016-03-10 20:00"><%= time_ago_in_words job.updated_at %></time>
      </div>
    </header>
    <footer>
      <p class="status"><strong>Trạng thái: </strong><%= job.status %></p>
      <div class="action-btn">
        <a class="btn btn-xs btn-success" href="<%= edit_user_job_path(current_user,job.id) %>">Sửa</a>
        <a class="btn btn-xs btn-danger" data-confirm="You sure" rel = "nofollow" data-method="delete"
          href="<%= user_job_path(current_user,job.id)%>">Xóa</a>
      </div>
    </footer>
  </div>
</div>
