<div class="col-xs-12">
  <a class="item-block" href="<%= job_path(job.id) %>">
    <header>
      <% if job.company_avatar %>
        <img src="<%= job.company_avatar %>" alt="">
      <% else %>
        <img src="https://raw.githubusercontent.com/lampv318/image/master/noavatar-1.jpg" alt="">
      <% end %>
      <div class="hgroup">
        <h4><%= job.title %> </h4>
        <h5><%= job.company_name %> <span class="label label-success">
          <%= job.employment_type %></span></h5>
      </div>
      <time><%= time_ago_in_words job.updated_at %> Ago</time>
    </header>

    <div class="item-body">
      <p><%= job.description %></p>
    </div>

    <footer>
      <ul class="details cols-3">
        <li>
          <i class="fa fa-map-marker"></i>
          <span><%= job.location %> </span>
        </li>

        <li>
          <i class="fa fa-money"></i>
          <span>$ <%= job.salary %>/ hour  </span>
        </li>

        <li>
          <i class="fa fa-certificate"></i>
          <span><%= job.education_level %> </span>
        </li>
      </ul>
    </footer>
  </a>
</div>
