<div class="col-xs-12">
  <div class="item-block">
    <header>
      <a href="<%= resume_path(resume.id) %>">
        <% if resume.basic_infos.first.link_avatar %>
        <img class="resume-avatar" src="<%= resume.basic_infos.first.link_avatar %>" alt="">
      <% else %>
        <img src="<%= resume.basic_infos.first.user_avatar %>" alt="">
      <% end %>
      </a>
      <div class="hgroup">
        <h4><a href="<%= resume_path(resume.id) %>"><%= resume.basic_infos.first.full_name %></a></h4>
        <h5><%= resume.basic_infos.first.headline %></h5>
      </div>
      <div class="header-meta">
        <span class="location"><%= resume.basic_infos.first.location %></span>
        <span class="rate">$<%= resume.basic_infos.first.salary %> per hour</span>
      </div>
    </header>

    <footer>
      <p class="status"><strong>Updated on:</strong> <%= time_ago_in_words resume.updated_at %></p>

      <div class="action-btn">
        <a class="btn btn-xs btn-gray" href="<%= edit_user_resume_path(current_user,resume.id) %>">Edit</a>
        <a class="btn btn-xs btn-danger" data-confirm="You sure" rel = "nofollow" data-method="delete"
          href="<%= user_resume_path(current_user,resume.id)%>">Delete</a>
      </div>
    </footer>
  </div>
</div>
