<div class="col-xs-12 item-block">
  <a href="<%= resume_path(resume.id) %>">
    <% if resume.basic_infos.first %>
    <header>
      <% if resume.basic_infos.first.link_avatar %>
        <img class="resume-avatar" src="<%= resume.basic_infos.first.link_avatar %>" alt="">
      <% else %>
        <img src="<%= resume.basic_infos.first.user_avatar %>" alt="">
      <% end %>
      <div class="hgroup">
        <h4><%= resume.basic_infos.first.full_name %></h4>
        <h5><%= resume.basic_infos.first.headline %></h5>
      </div>
    </header>
  </a>
    <div class="item-body">
      <p><%= resume.basic_infos.first.description %></p>

      <div class="tag-list">
        <% resume.tag_list.each do |tag| %>
          <span><%= link_to tag , tag_path(tag) %></span> 
        <% end %>
      </div>
    </div>

    <footer>
      <ul class="details cols-3">
        <li>
          <i class="fa fa-map-marker"></i>
          <span><%= resume.basic_infos.first.location %></span>
        </li>

        <li>
          <i class="fa fa-money"></i>
          <span><%= resume.basic_infos.first.salary %>/ hour</span>
        </li>
      <% end %>
      <% if resume.educations.first %>
        <li>
          <i class="fa fa-certificate"></i>
          <span><%= resume.educations.first.degree %></span>
        </li>
      <% end %>
      </ul>
    </footer>
</div>
